* {
  margin: 0;
  padding: 0;
}

#nav {
  min-width: 100vw;
  min-height: 10vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  #nav-items {
    display: flex;
    #search--bar {
      max-width: 30px;
      max-height: 30px;
    }
    #hamburg-menu {
      max-width: 30px;
      max-width: 30px;
    }
  }
}
